{# Archivo: themes/custom/custom_theme/templates/layout/header.html.twig #}

<header class="custom-header">
  <div class="header-content">
    <img src="{{ file_url(directory ~ '/images/LOGO-CAFD.png') }}" alt="CAFD Logo" class="logo">
  </div>
</header>
