{% extends "page.html.twig" %}

{% block content %}

    <section class="barra" >
        {{ page.header }}
    </section>

    <main role="main" style="background: white;">

        <section class="front-content">
            {{ page.content }}
        </section>
    </main>

{% endblock %}
