{# Archivo: themes/custom/custom_theme/templates/layout/page.html.twig #}

<div class="page-wrapper">                                 {# Contenedor principal de la p치gina #}
  {# Header sobrescribible #}
  {% block page_header %}
    {% include '@custom_theme/layout/header.html.twig' %}   {# Incluye la plantilla del Header (Encabezado) #}
    {{ page.header }}                                       {# Renderiza el contenido de la regi칩n 'header' (una NavBar en este caso) #}
  {% endblock %}

  {# Main #}
  <main role="main" style="background: white;">                          {# Contenedor principal para el contenido de la p치gina, con fondo blanco que es el est치ndar de la web. Se combina con #ECF4FE #}
    {% block page_content %}
      {{ page.content }}
    {% endblock %}
  </main>
    {% include '@custom_theme/layout/footer.html.twig' %}
    {# Banner de cookies #}
    {% include '@custom_theme/layout/cookie-banner.html.twig' %}
</div>
