{# Archivo: themes/custom/custom_theme/templatges/layout/page--transparencia.html.twig #}

{% extends "page.html.twig" %}

{% block page_content %}
  <main class="transparencia-main">
    <section class="transparencia-section">
      {{ page.content }}
    </section>
  </main>
{% endblock %}
