{# filepath: t:\CAFD\themes\custom\custom_theme\templates\layout\page--formacion.html.twig #}

{% extends "page.html.twig" %}


{% block page_content %}
  <div class=".page-wrapper"> {# Contenedor principal de la p치gina con un borde rojo para visualizar l칤mites para depuraci칩n #}

    {# Main #}
    <main role="main" style="background: white;"> {# Contenedor principal para el contenido de la p치gina, con fondo blanco que es el est치ndar de la web. Se combina con #ECF4FE #}

      <div class="aula-virtual-container">
        <div class="aula-virtual-col aula-virtual-bienvenida">
          <div class="bienvenida-bloque">
            <p>
              Te damos la bienvenida al <strong>AULA VIRTUAL</strong> de la<br>
              <strong>Confederaci칩n Andaluza de Federaciones Deportivas</strong>.
              Introduciendo los datos de usuario y contrase침a que te hemos facilitado, acceder치s a tu acci칩n formativa.
            </p>
            <p>
              Si necesitas ayuda, no dudes en contactar con nosotros.
            </p>
          </div>

          <div class="contacto-bloque-titulo">
            <h3>CONTACTO</h3>
          </div>
          <div class="contacto-bloque-info">
            <p><strong>游 954 460 110</strong></p>
            <p><strong>九괦잺 formacion@cafd.es</strong></p>
            <p>Lunes a Viernes: <strong>10:00 h a 14:00 h</strong></p>
            <p>C/Benidorm, n췈5 escalera 1,<br>2췈A - 41001 Sevilla</p>
          </div>
        </div>

        <div class="aula-virtual-col aula-virtual-login">
          <div class="login-bloque">
            <h3>ACCESO AULA</h3>
            <form action="#" method="POST" class="login-form">
              <div class="form-group">
                <label for="username">Nombre de usuario</label>
                <input type="text" id="username" name="username" placeholder="Nombre de usuario" required>
              </div>
              <div class="form-group">
                <label for="password">Contrase침a</label>
                <input type="password" id="password" name="password" placeholder="Contrase침a" required>
              </div>
              <button type="submit" class="btn-acceder">Acceder</button>
            </form>
            <a href="#" class="forgot-password">쯆lvid칩 su contrase침a?</a>
          </div>
        </div>

        <div class="aula-virtual-col aula-virtual-extra">
          <div class="aula-virtual-esferas">
            <!-- Bloque de Cat치logo -->
            <div class="catalogo-bloque">
              <h3>CAT츼LOGO</h3>
              <div class="catalogo-esfera">
                <img src="{{ directory }}/images/catalogo.png" alt="Cat치logo">
              </div>
              <a href="https://aulavirtual.cafd.es/blocks/html_externo/view.php?id=27" class="catalogo-texto">Revisa nuestro cat치logo</a>
            </div>

            <!-- Bloque de Solicitud de Informaci칩n -->
            <div class="solicitud-bloque">
              <h3>SOLICITUD DE INFORMACI칍N</h3>
              <div class="solicitud-esfera">
                <img src="{{ directory }}/images/info.png" alt="Solicitud de Informaci칩n">
              </div>
              <a href="https://open.tutoring.es/extranet/formulario/cafd" class="solicitud-texto">쯅ecesitas informaci칩n?</a>
            </div>
          </div>

          <!-- Bloque de Preguntas Frecuentes -->
          <div class="preguntas-frecuentes">
            <h3>PREGUNTAS FRECUENTES</h3>
            <div class="pregunta">
              <button onclick="toggleCollapse(this)" class="pregunta-titulo">
                쯇or qu칠 no puedo acceder a la plataforma?

                <!--Svg de la flecha para abajo -->
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 18 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon-flecha flecha-abajo">
                <path stroke="none" d="M0 0h18v24H0z" fill="none"/>
                <path d="M4 11l8 3l8 -3" /> 
                </svg>

                <!--Svg de la flecha para arriba -->
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 18 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon-flecha flecha-arriba">
                <path stroke="none" d="M0 0h18v24H0z" fill="none"/>
                <path d="M4 13l8 -3l8 3" />
                </svg>
              </button>
              <div class="respuesta">
                La causa m치s probable es que se haya olvidado la contrase침a, est칠 usando una incorrecta o la est칠 escribiendo mal, especialmente si incluye may칰sculas y min칰sculas que deben coincidir exactamente.
              </div>
            </div>
            <div class="pregunta">
              <button onclick="toggleCollapse(this)" class="pregunta-titulo">
                쮺칩mo regreso a la p치gina principal del curso?

                <!--Svg de la flecha para abajo -->
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 18 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon-flecha flecha-abajo">
                <path stroke="none" d="M0 0h18v24H0z" fill="none"/>
                <path d="M4 11l8 3l8 -3" /> 
                </svg>

                <!--Svg de la flecha para arriba -->
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 18 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon-flecha flecha-arriba">
                <path stroke="none" d="M0 0h18v24H0z" fill="none"/>
                <path d="M4 13l8 -3l8 3" />

                </svg>
              </button>
              <div class="respuesta">
                Utilice la Barra de navegaci칩n que est치 en la parte superior de la p치gina.
              </div>
            </div>
            <div class="pregunta">
              <button onclick="toggleCollapse(this)" class="pregunta-titulo">
                쮺칩mo puedo cambiar la configuraci칩n de las notificaciones por correo electr칩nico?

                <!--Svg de la flecha para abajo -->
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 18 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon-flecha flecha-abajo">
                <path stroke="none" d="M0 0h18v24H0z" fill="none"/>
                <path d="M4 11l8 3l8 -3" /> 
                </svg>

                <!--Svg de la flecha para arriba -->
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 18 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon-flecha flecha-arriba">
                <path stroke="none" d="M0 0h18v24H0z" fill="none"/>
                <path d="M4 13l8 -3l8 3" />
                </svg>
              </button>
              <div class="respuesta">
                En el bloque Administraci칩n, opci칩n Perfil. En la pantalla de perfil pulsar en la pesta침a Editar informaci칩n, donde encontraremos los siguientes campos: Direcci칩n de correo, para indicar nuestra cuenta de correo electr칩nico; Mostrar correo, para que se muestre o no la cuenta de correo en el perfil; Correo activado, si no est치 activado no recibiremos los correos del curso; Descripci칩n, hay que poner algo, ya que el campo es obligatorio. Una vez modificada y revisadas estas opciones, guardaremos los cambios pulsando en el bot칩n Actualizar informaci칩n personal. Este bot칩n se encuentra en la parte inferior de la p치gina.
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
{% endblock %}


